<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>

</head>
<body>
    <div class="chat-msgs" id="chatMsgs">
    </div>

    <div class="chat-input">
        <input type="text" id="msgInput">
        <button id="sendButton" onclick="sendMsg()">Send</button>
    </div>

    <script src="/static/js/chat.js"></script>
</body>
</html> 